body {
  font-size: 18px;
  text-align: center;
  font-family: "Commissioner", sans-serif;
  width: 675px;
  max-width: 100%;
  margin: 0 auto;
}

p {
  margin: 10px 0;
}

.image-container {
    max-width: 100%;
    overflow-y: auto;
}

#rank-buttons {
  display: flex;
}

.hidden {
  display: none !important;
}

button {
  flex-grow: 1;
  font-family: "Commissioner", sans-serif;
  background-color: aqua;
  margin: 10px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 20px;
}

#result {
    width: 300px;
    height: 80px;
}