body {
    width: 675px;
    max-width: 100%;
    margin: 0 auto;
}

#rankButtons {
    display: flex;
}

#rankButtons button {
    flex-grow: 1;
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}